body {
  font-family: "Segoe UI";
  text-align: justify;
  box-sizing: border-box;
}

.brand-img {
  padding: 0 2% 0;
}

.navItem {
  padding: 0 20px 0;
}
.navLink {
  color: #292a63 !important;
}

.navLink:hover {
  color: rgb(69, 57, 231) !important;
}

.row {
  margin: 0;
  padding: 0;
}

.header-row {
  background-color: #fcfcfc;
}
.header-h1 {
  color: #292a63 !important;
  font-size: 4rem;
  font-weight: 400;
}

.header-img {
  height: 60vh;
  background-image: url(../images/photo-1516841273335-e39b37888115@2x.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.header-left {
  padding: 2rem;
}

.header-p {
  font-size: 1.2rem;
  padding-right: 5rem;
  color: #292a63 !important;
}

.header-btn {
  background-color: #292a63;
  border-color: #292a63;
  padding-left: 3rem;
  padding-right: 3rem;
}

#appointment {
  min-height: 70vh !important;
  padding: 2rem;
}

.youTubeImg-div {
  display: flex;
  justify-content: center;
  position: relative;
}

.youTubeImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.youTubeLogoText {
  width: 15%;
}

.youtubeSpan {
  position: absolute;
  left: 5%;
  top: 5%;
  color: #fff;
  font-size: 1.2rem;
}

.youTubeLogoDiv {
  position: absolute;
  left: 42%;
  top: 42%;
}

.youtubeLogo {
  width: 60%;
}

.sec1H1 {
  padding-bottom: 10px;
  color: #292a63 !important;
  font-weight: 400;
}

.sec1P {
  font-size: 1.2rem;
}

.operationsH1,
.blogH1,
.requestH1 {
  padding-bottom: 50px;
  color: #292a63 !important;
  font-weight: 400;
  text-align: center;
}

#operations {
  min-height: 50vh !important;
  padding: 20px 0 30px;
}
.imagesContainer {
  padding: 0 30px 0;
}

.singleImgContainer {
  padding: 0;
  position: relative;
}
.imagesContainer,
.singleImgContainer {
  display: flex;
  justify-content: center;
}

.operationsImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hoverEffect {
  position: absolute;
  display: none;
  background-color: rgb(18, 86, 175);
  opacity: 0.7;
  width: 100%;
  height: 100%;
  top: 0%;
}

.singleImgContainer:hover > .hoverEffect {
  display: flex;
  justify-content: center;
}

.hoverEffect > button {
  color: #fff !important;
  border-color: #fff !important;
  min-width: 50% !important;
  margin: 25% 0;
  font-size: 1.5rem;
}

.operationTextHover {
  text-align: center;
}

.hoverEffect > button:hover {
  background-color: rgb(11, 59, 122) !important;
}

#doctors {
  background: linear-gradient(
      to bottom,
      rgba(10, 74, 126, 0.4) 0,
      rgba(10, 74, 126, 0.4) 100%
    ),
    url(../images/photo-1543325042-c67825847491@2x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  min-height: 70vh;
  position: relative;
}

.doctorsH1 {
  padding: 2% 2% 4% !important;
  font-weight: 400;
  color: #fff;
}

.doctorsSingleContainer {
  position: relative;
  width: 70%;
  padding: 0 !important;
}

.doctorshoverEffect {
  position: absolute;
  display: none;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  top: 0%;
}

.doctorsSingleContainer:hover > .doctorshoverEffect {
  display: flex;
  justify-content: center;
  padding: 0;
}

.doctorSingleImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.glider-contain {
  width: 75%;
  margin-left: 20%;
}

.drName {
  position: absolute;
  font-size: 1.5em;
  top: 40%;
  color: #292a63 !important;
  text-align: center;
}

#blog {
  padding: 5vh 5vw;
  color: #292a63 !important;
}

.blogImg {
  width: 50px;
  padding: 5px;
}

.blog-post {
  border: 1px solid #292a63;
  border-radius: 18px;
  padding: 5px 10px;
}

.main-blog {
  margin-bottom: 5vh;
  padding-bottom: 20px;
}

.blue-blog,
.sec-blog {
  margin-bottom: 24px;
}

.blue-blog {
  color: #fff;
  background-color: #292a63 !important ;
}

#blog p {
  margin-bottom: 0 !important;
}

.blogOnePost {
  padding-top: 5px !important;
}

.fourth-blog {
  margin-bottom: 5vh;
}

#request {
  background: url(../images/photo-1519494140681-8b17d830a3e9@2x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  min-height: 70vh;
  position: relative;
  padding: 2%;
}

.chekBtn {
  color: #292a63 !important ;
}

.formBtn {
  background-color: #292a63;
  border-color: #292a63;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 0 auto !important;
  display: flex;
}

a.policy {
  margin: 0 auto !important;
  display: flex;
  justify-content: center;
  padding: 20px;
  text-decoration: none;
  color: #62638b;
}

a.policy:hover {
  color: #292a63;
}

/**************Responsive******************/

@media screen and (max-width: 992px) {
  .brand-img {
    padding-bottom: 20px;
    padding-left: 18px;
  }

  .rightPhoto {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .header-h1 {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
  }

  .header-p {
    text-align: center;
    padding: 2rem;
  }

  .header-btn {
    margin: 0 auto !important;
    display: flex;
  }

  .sec1H1 {
    text-align: center;
    padding-top: 10px;
    font-weight: 400;
  }

  .sec1P {
    text-align: center;
    padding: 1.5rem;
  }
  .h5Blog {
      
     
      font-size : 1rem;
            }
}

@media screen and (min-width: 992px) {
  .header-btn-div {
    padding: 2rem 0 1rem 0;
  }
}
